

{% extends 'home.html' %}
{% block title %} about {% endblock %}
{% block body %}

<div class="container">
    <div class="row">
      <div>
        <h3>About Us</h3>
        <p>
          Welcome to DayONE a web app designed to boost your productivity and help you make the most of each day!
        </p>
        <p>
          We're a small but passionate team, led by Sammengi Arjun, a 2nd-year student at IIEST, Shibpur. Sammengi Arjun is passionate about creating value-driven products with simple and user-friendly designs. He's assisted by an AI chatbot ChatGPT, which provide invaluable support in developing the best possible app for you.
        </p>
        <p>
          We believe that productivity shouldn't be complicated. That's why we've designed DayOne to be clutter-free and easy to use. It's currently in its first version, but we're always listening to <span><a href="mailto:sammengiarjun@gmail.com"> feedback</a></span> and working to improve it. Stay tuned for exciting new features in the future!
        </p>
        <p>
          We're committed to helping you achieve your goals and make every day productive. If you have any feedback or suggestions, please don't hesitate to reach out to us at <a href="mailto:sammengiarjun@gmail.com">sammengiarjun@gmail.com</a>. We value your input!
        </p>
        <p>
          Learn more about Sammengi on <a href="https://www.linkedin.com/in/arjun-sammengi-4108a3269/">LinkedIn</a>.
        </p>
      </div>
    </div>
  </div>
  
{% endblock %}
