

{% extends 'home.html' %}
{% block title %} about {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div>
            <h3>HELP</h3>
            <p>
                <h4>Add to home screen</h4>
                we suggest you to add this web app to your mobile home screen by following the given steps.
                <ul>
                    <li>when you open our app on chrome.</li>
                    <li>you can see three dots on top right of you chrome, click on it.</li>
                    <li>then you could find 'add to home screen' option ,click on it. </li>
                    <li>then click on add.</li>
                    <li>You have successfully added webapp to you home screen.</li>
                    <li>Now you can have easy access to the web app.</li>
                </ul>
               </p>
            
            <h4>To-do List</h4>
            <p>
            This web app is built for dedicated people like you to make their day productive .
            Dayone app help you to make todo list regularly and you can prioritise and schedule tasks and if you finish the 
            task you can view the completed task on clicking the completed tasks button ,
            and you can shift tasks from completed tasks list to tasks list you are not satisfied 
            about the task you have accomplished, on clicking move to tasks button .  
           </p>
           <h4>Progress Tracking</h4>
           <p>
               DayONE helps you track your productivity with detailed statistics on your Pomodoro sessions. You can view your daily, weekly, monthly, and yearly Pomodoro counts, allowing you to monitor your progress over time. By analyzing these trends, you can identify areas for improvement and enhance your productivity.
           </p>
           <h4>Assets</h4>
           <p>
               DayONE is designed to gamify productivity by converting the time spent on Pomodoro sessions into virtual currency. With this virtual currency, users can purchase virtual luxury products within the app. Our aim is to remind you that time is money, and by efficiently managing your time, you can achieve greater productivity and rewards.
           </p>
           <h4>Pricing</h4>
           <!-- <p>
               DayONE is committed to continuous development and improvement to provide you with the best productivity tool. To support our efforts in product development, marketing, and resource management, we offer our subscription at a minimal price of <b>₹120 per year</b>. We believe this investment in your productivity is a small amount to pay for the significant benefits it can bring to your daily life.
           </p> -->
           <br>
           <p>
            You can do all these for free of cost ,just by <span><a href="{% url 'register' %}">registering</a></span> to our app ,
            we always wecome you to share your valuable <span><a href="mailto:sammengiarjun@gmail.com">feedback</a></span>,because we believe 
            feedback from dedicated people can help us improve the product.Hope you will be using our app regularly and make your day 
            super productive. 
           </p>
           <p>
            This is still first version our app , We would consistently improve it. 
           </p>
        </div>
    </div>
</div>

  
{% endblock %}
