
{% extends 'home.html' %}

{% load custom_filters %}
{% block title %} ranking {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <title>Ranking</title>
            <h5>Your Rank: {{ current_user_rank }}</h5>
            <form method="get">
                
                <label for="goal" class="filters">Filter by Goal:</label>
                <select class="filters" id="goal" name="goal">
                    <option value="">All</option>
                    <option value="doctor">Doctor</option>
                    <option value="ca_cs">CA/CS</option>
                    <option value="lawyer">Lawyer</option>
                    <option value="teacher">Teacher</option>
                    <option value="architect">Architect</option>
                    <option value="mba">MBA</option>
                    <option value="civil_servant">Civil Servant</option>
                    <option value="fashion_designer">Fashion Designer</option>
                    <option value="software_engineer">Software Engineer</option>
                    <option value="graphic_designer">Graphic Designer</option>
                    <option value="marketing_professional">Marketing Professional</option>
                    <option value="content_writer">Content Writer</option>
                    <option value="jee">JEE</option>
                    <option value="neet">NEET</option>
                    <option value="cuet">CUET</option>
                    <option value="gate">GATE</option>
                    <option value="cat">CAT</option>
                    <option value="nid_dat">NID DAT</option>
                    <option value="ugc_net">UGC NET</option>
                    <option value="upsc">UPSC</option>
                    <option value="ssc">SSC</option>
                    <option value="nda">NDA</option>
                    <option value="clat">CLAT</option>
                    <option value="ailet">AILET</option>
                    <option value="other">Other</option>
                </select>

                <label for="gender" class="filters">Filter by Gender:</label>
                <select class="filters" id="gender" name="gender" >
                    <option value="">All</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                
        
                <!-- <label class="filters" for="rank_min">Rank Min:</label>
                <input class="filters" type="number" id="rank_min" name="rank_min">
        
                <label class="filters" for="rank_max">Rank Max:</label>
                <input class="filters" type="number" id="rank_max" name="rank_max"> -->
                
                <button type="submit" class="btn btn-primary custom-filterbtn">Apply Filters</button>
            </form>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Social Media</th>
                        <th>Gender</th>
                        <th>College/Workplace</th>
                        <th>currency</th>
                        <th>Future Goal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            {% if user.social_media_url %}
                                {% if user.social_media_url != user.email %}
                                    {% if user.social_media_url|urlize %}
                                        <a href="{{ user.social_media_url }}">connect</a>
                                    {% else %}
                                        {{ user.social_media_url }}
                                    {% endif %}
                                {% else %}
                                    {{ user.social_media_url }}
                                {% endif %}
                            {% else %}
                                No social media provided
                            {% endif %}
                        </td>
                        
                        <td>{{ user.gender }}</td>
                        <td>{{ user.college_or_workplace }}</td>
                        <td>{{ user.total_pomodoros|multiply_by_25}}</td>
                        <td>
                            {% if user.future_goal == 'other' %}
                                {{ user.other_goal_text }}
                            {% else %}
                                {{ user.get_future_goal_display }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if users.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ users.previous_page_number }}">previous</a>
                    {% endif %}
        
                    <span class="current">
                        Page {{ users.number }} of {{ users.paginator.num_pages }}.
                    </span>
        
                    {% if users.has_next %}
                        <a href="?page={{ users.next_page_number }}">next</a>
                        <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>
    </div>
</div>
{% endblock %}
